code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main {
    padding-top: 60px;
    display: flex;
    background-color: #F8F8F8;
    min-height: 900px;
}

.column-category {
    width: 325px;
    min-width: 140px;
    background-color: #FFFFFF;
    align-self: stretch;

    &__items {
        cursor: pointer;
        border-bottom: 1px solid #E4E4E4;
        padding: 20px 0 15px 30px;

        &_active {
            color: #FF6969;
        }
    }
}

.empty-stub {
    flex-grow: 1;
    margin-top: 290px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 99px;
        height: 99px;
    }

    &__text {
        font-weight: 700;
        margin-top: 25px;
    }
}

.products {
    margin: 55px 0 0 35px;
    flex-grow: 1;

    &__card {
        background-color: #FFFFFF;
        padding: 0;
    }
}

.product-card {
    border-radius: 10px;
    max-width: 353px;
    margin: 0 3vw 20px 0;

    &__description {
        background-color: #FFFFFF;
        padding: 20px 30px 30px 30px;
    }

    img {
        cursor: pointer;
        width: 100%;
        height: 253px;
    }

    &__name {
        font-weight: 500;
        cursor: pointer;
    }

    &__price {
        font-weight: 700;
        margin-top: 7px;
        position: relative;

        &::after {
            position: absolute;
            content: "\20bd";
        }
    }

    &__button {
        background-color: #FF6969;
        min-width: 170px;
        border-radius: 5px;
        color: #FFFFFF;
        margin-top: 35px;
        padding: 8px 22px;
        border: none;

        img {
            width: 22px;
            height: 17px;
            margin-left: 10px;
        }
    }
}

.form-popup {
    margin-top: 60px;
    font-weight: 400;

    input,
    .input-feedback {
        height: 40px;
        width: inherit;
        min-width: 275px;
        border: 1px solid #898989;
        border-radius: 5px;
        margin-top: 8px;
    }
}

.label-address {
    width: 100%;
    margin-top: 20px;
}

.input-address {
    width: inherit;
}

.input-feedback {
    min-height: 175px;
    resize: none;
}

.input_warning{
    border-color: #FF6969 !important;
}

.label-warning {
    color: #FF6969;
}

.button_disabled {
    opacity: 0.5;
}