.popup-tabs {
  font-weight: 400;
}
.popup-tabs__links .active {
  border-color: #FF6969;
  color: #424242;
}
.popup-tabs__link {
  color: #424242;
  padding: 0;
  margin: 40px 20px 13px 0;
  border-bottom: 3px solid #E4E2E2;
  cursor: pointer;
}
.popup-tabs__link:focus {
  border-color: #FF6969;
}
.popup-tabs__link:hover {
  color: rgba(66, 66, 66, 0.6980392157);
}
.popup-tabs__feature_gray {
  background-color: #F3F3F3;
}
.popup-tabs .star-rating {
  gap: 4px;
}
.popup-tabs .c-star {
  width: var(--size, 18px);
  height: var(--size, 18px);
  fill: white;
}
.popup-tabs .c-star.active {
  border-color: #F1C450;
}

.popup-review {
  display: flex;
}
.popup-review__name {
  color: #000000;
}
.popup-review__text {
  padding: 14px;
  font-size: 14px;
  background-color: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
}