.popup-product {
  min-width: 633px;
  font-weight: 700;
  padding: 16px 14px;
}
.popup-product__items {
  margin-top: 6px;
}
.popup-product__item {
  display: flex;
  padding: 22px 0;
  border-bottom: 1px solid #EEEEEE;
}
.popup-product__item img {
  width: 138px;
  height: 97px;
}
.popup-product__description {
  padding: 10px 22px;
}
.popup-product__button {
  border: none;
  background-color: inherit;
  padding: 7px 0;
  color: #FF6969;
  font-weight: 700;
}